doctype html
html(lang='en') 
	head
		title Web Components Preview 
		if (framework == 'polymer')
			script(src='/bower_components/polymer/polymer.js')
		else if (framework == 'x-tags')
			//- TODO
		else
			//- script(src='/bower_components/polymer-platform/platform.js')
			script(src='/polymer/platform-dev/platform.js')
		//- Imports
		each val in (components)
			link(rel='import', href='/components/'+val+'.html')
	block content
		h1 Web Components
		ul(id='components_list')
			each val in (components)
				li(id=val)= '<'+val+'>'
		div(id='content')
		// app
		script(src='/index.js')